* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --azul-claro: #339CFF;
  --azul-escuro: #0B3B60;
  --branco: #FFFFFF;
  --cinza: #6B6E71;
  --cinza-claro: #E7EBEF;
  --fonte-principal: 'Public Sans', sans-serif;
  --fonte-secundaria: 'Archivo', sans-serif;
  
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}